body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(darksalmon, palevioletred);
  background-attachment: fixed;
  font-size: 16px;
}

img {
  width: 300px;
}

figure {
  margin: 0;
}

figcaption {
  max-width: 300px;
  font-size: 14px;
}
a {
  color: palegoldenrod;
  font-weight: 700;
  text-decoration: none;
  margin-right: 25px;
}

a:hover {
  text-decoration: underline;
}

address {
  font-style: normal;
}

p {
  max-width: 500px;
}
